@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.main{
    background-image: url(Elements/Images/Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1500,100vw);
    height: 80vh;
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75vw;
    margin: auto;
    height: 100px;
}

nav img{
    color: red;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.content{
    display: flex;
    height: calc(100% - 100px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Roboto", sans-serif;
    gap: 20px;
    padding: 0 30px;
}

.content> :nth-child(1){
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
 
.content> :nth-child(2){
    font-weight: 400;
    font-size: 25px;   
    text-align: center;
}

.content> :nth-child(3){
    font-weight: 400;
    font-size: 20px; 
    text-align: center;
}

.line{
    height: 8px;
    background-color: rgb(45, 44, 44);
    position: relative;
    z-index: 20;
}

.content-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn{
    font-weight: 400;
    font-size: 16px;
    color: white;
    background-color: rgba(120, 118, 118, 0.036);
    border-radius: 4px;
    border: 1px solid gray;
    padding: 5px 10px;
}

.btn-sn{
    padding: 5px 10px;
    font-weight: 400;
    font-size: 16px;
    background-color: red;
    color: white;
    border-radius: 4px;
    border: 1px solid red;
    cursor: pointer;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 11px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    border: 0 solid red;
    cursor: pointer;
}

input{
    padding: 15px 120px 10px 15px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23,0.7);
    color: white;
    border: 1px solid rgba(143, 145, 147, 0.5);
}

.first{
    display: flex;
    justify-content: center;
    max-width: 90vw;
    margin: auto;
    color: white;
    align-items: center;
}

.first-img{
    position: relative;
}

.third-img{
    position: relative;
}

.first-img img
{
    width: 520px;
    position: relative;
    z-index: 10;
}

.first-img video{
    position: absolute;
    top: 78px;
    right: 0; 
    width: 450px;
}

.third-img img{
    width: 410px;
    position: relative;
    z-index: 10;
}

.third-img video{
    position: absolute;
    top: 55px;
    right: 0;
    height: 145px;
    width: 410px;
}

.first>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 34px 0;
}

.first > div :nth-child(1){
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 900;
}

.first > div :nth-child(2){
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.que h2 {
    text-align: center;
    font-size: 48px;
}

.que {
    background: black;
    color: white;
    padding: 34px;
}

.que-container:hover {
    background-color: #414141;
    color: white;
}

.que-container svg {
    filter: invert(1);
}

.que-container {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 70vw;
    margin: 20px auto;
    cursor: pointer;
}

.faq-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px auto;
    gap: 20px;
}

.faq-content > :nth-child(1){
    font-weight: 400;
    font-size: 25px; 
    text-align: center;
}

.footer {
    color: white;
    max-width: 80vw;
    margin: 20px auto;
    padding: 40px 30px;
}

.footer .questions {
    padding: 34px 0;
}


.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

a {
    font-size: 15px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 1000px) {
    nav{
        max-width: 90vw;
    }

    .content> :nth-child(1) {
        font-size: 32px;
    }

    .content> :nth-child(2) {
        font-size: 18px;
    }

    .content> :nth-child(3) {
        font-size: 18px;
    }

    .content-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .first{
        flex-wrap: wrap;
    }

    .first-img img
    {
        width: 310px;
    }

    .third-img img{
        width: 310px;
    }

    .first-img video{
        height: 140px;
        width: 310px;
    }

    .third-img video{
        height: 100px;
        width: 310px;
    }

    .first>div {
        padding: 20px 0;
    }

    .first > div :nth-child(1){
        text-align: center;
        font-size: 32px;
        font-weight: 700;
    }
    
    .first > div :nth-child(2){
        text-align: center;
        font-size: 18px;
        font-weight: 400;
    }

    .que h2 {
        text-align: center;
        font-size: 32px;
    }

    .que-container{
        font-size: 18px;
    }

    .faq-content > :nth-child(1){
        font-size: 18px;
    }

    .footer {
        max-width: 90vw;
        padding: 50px 0;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .footer-item{
        align-items: flex-start;
    }
}